main {
  background-color: #333333;

  .player-stats {
    &__entry {
      color: white;
      padding-bottom: 10px;
      font-size: 20px;

      &--scroll-list {
        height: 50px;
        overflow-y: scroll;
      }

      &--gap {
        margin-left: 30px;

        &-big {
          margin-left: 60px;
        }
      }
    }
  }
}

.inline {
  display: inline-block;
}
